<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin form | CodingNepal</title>
    <link rel="stylesheet" href="admin_style.css">
  </head>
  <body>
    <div class="center">
      <form action = "/addDoctor" method="get">
        <div class="signup_link">
            <input type="submit" value="Add Doctor">
        </div>    
        <!-- <div class="signup_link">
          Not a member? <a href="register.html">Signup</a>
        </div> -->
      </form>
      <form action="/modifyDoctor" method = "get">
        <div class="signup_link">
            <input type="submit" value = "Modify Doctor">
        </div>
      </form>
      <form action="/" method = "get">
        <div class="Log-out">
            <input type="submit" value = "Log out">
        </div>

      </form>
    </div>

  </body>
</html>
