<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center">
      <form action = "/RegisterDoctor" method="post">
        <div class="txt_field">
          <input name = "Doctor_ID" id = "Doctor_ID"type="text" required>
          <span></span>
          <label>Doctor_ID</label>
        </div>
        <input type="submit" value="Register">
        <!-- <div class="signup_link">
          Not a member? <a href="register.html">Signup</a>
        </div> -->
    </div>

  </body>
</html>
